<button onclick="modalFunc('modalCreate')">+ Create</button>

<table id="app"></table>
<div id="pagination"></div>

<div id="modalEdit" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<input type="hidden" class="params">
		<form id="editForm">
			<h4>Title</h4>
			<input type="text" id="edit_title">
			<h4>Content</h4>
			<textarea id="edit_content" rows="10"></textarea>
			<h4>Slug</h4>
			<input type="text" id="edit_slug">
			<h4>Category</h4>
			<div id="category_edit"></div>
			<h4>Status</h4>
			<input type="checkbox" id="edit_status"> Publish post?<br/>
			<input type="hidden" id="edit_id" value="">
			<button>Update</button>
			<div id="editResult"></div>
		</form>
	</div>
</div>

<div id="modalDelete" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<input type="hidden" class="params">
		<form id="deleteForm"></form>
	</div>
</div>

<div id="modalCreate" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<form id="formCreate">
			<h4>Title</h4>
			<input type="text" id="create_title">
			<h4>Content</h4>
			<textarea id="create_content" rows="10"></textarea>
			<h4>Slug</h4>
			<input type="text" id="create_slug">
			<h4>Category</h4>
			<div id="category_create"></div>
			<h4>Status</h4>
			<input type="checkbox" id="create_status"> Publish post?<br/>
			<button>Create</button>
			<div id="createResult"></div>
		</form>
	</div>
</div>

<script>
let categoryLoad = (loader) => {
	let tpl = {
		view: (x) => {
			return [
				m('input', {
					id: loader+'_'+x.attrs.value,
					class: 'category',
					type: 'checkbox',
					value: x.attrs.value}),
				m('label', {for: loader+'_'+x.attrs.value}, x.attrs.name),
				m.trust('<br/>')
			]
		}
	}

	var data = []
	m.request({
		method: 'GET',
		url: '/api.category'
	})
	.then(res => {
		res.data.map((x) => {
			data.push(m(tpl, {
				value: x.slug,
				name: x.name
			}))
		})
		m.render(document.getElementById(loader), data)		
	})
}

categoryLoad('category_create')
categoryLoad('category_edit')

let postsElement = {
	view: (x) => {
		return [
			m('tr', [
				m('td', x.attrs.title),
				m('td', x.attrs.time),
				m('td', x.attrs.status),
				m('td', [
					m('button', {
						class: 'info',
						onclick: () => {
							formEdit(x.attrs.id)
							modalFunc('modalEdit', x.attrs.id)
						}
					}, 'Edit'),
					m('button', {
						class: 'danger',
						onclick: () => {
							formDelete(x.attrs.id)
							modalFunc('modalDelete', x.attrs.id)
						}
					}, 'Delete'),
				])
			])
		]
	}
}

let loadPost = (getPagin) => {
	m.render(app, m('div', {class: 'spinner center'}))

	let posts = []
	m.request({
		method: 'POST',
		url: '/api.posts',
		data: {get: getPagin}
	})
	.then(res => {
		
		if (!res.empty) {
			res.data.map((x) => {
				posts.push(m(postsElement, {
					id: x.id,
					title: x.title,
					time: x.time,
					status: x.status == 1 ? 'Published' : 'Draft'
				}))
			})

			m.render(app, [
				m('tr', [
					m('th', 'Title'),
					m('th', 'Time'),
					m('th', 'Status'),
					m('th', 'Action'),
				]),
				posts
			])

			let paginItem = []
			for (i=1; i<=res.pagination.totalPages; i++) {
				if (i !== res.pagination.currentPage) {
					paginItem.push(m('a', {href: 'javascript:paginate('+i+')'}, i))
				} else {
					paginItem.push(m('span', i))
				}
			}

			m.render(pagination, paginItem)

		}
		else {
			m.render(app, m('div', {class: 'notif'}, 'Post is empty.'))
		}
		
	})
}

let paginate = (x) => {
	loadPost(x)
}

loadPost()


let formEdit = (id) => {
	m.request({
		method: 'GET',
		url: '/api.posts/'+id
	})
	.then(res => {

		let checked = res.status == 0 ? false : true
		
		// binding exists content to edit
		edit_id.value = res.id
		edit_title.value = res.title
		edit_content.value = res.text
		edit_slug.value = res.slug
		edit_status.setAttribute('checked', checked)

		// for category
		let category = res.category.split(', ')
		
		for (i=0; i<category.length; i++) {
			document.getElementById('category_edit_'+category[i]).setAttribute('checked', true)
		}

	})
}

editForm.onsubmit = (event) => {
	event.preventDefault()
	m.render(editResult, m('div', {class:'spinner center'}))

	let categoryValue = []; 
	let inputElements = document.querySelectorAll('#category_edit .category:checked');
	for(i=0; i<inputElements.length; ++i){
		categoryValue.push(inputElements[i].value)
	}

	m.request({
		method: 'POST',
		url: '/api.posts/update',
		data: {
			id: edit_id.value,
			title: edit_title.value,
			content: edit_content.value,
			slug: edit_slug.value,
			category: categoryValue.join(', '),
			status: edit_status.checked ? 1: 0
		}
	})
	.then(res => {

		m.render(editResult, 
			m('div', {class:'notif'}, res.message)
		)
		if (!res.error) {
			loadPost()
		}
		
	})
}


let deleteFormComponent = {
	view: (x) => {
		return [
			m('p', 'Are your sure to delete this post?'),
			m.trust('<strong>'+x.attrs.title+'</strong><br/><br/>'),
			m('button', {class:'danger', onclick: (event) => {
				event.preventDefault()
				m.render(deleteFormNotice, m('div', {class:'spinner center'}))

				m.request({
					method: 'POST',
					url: '/api.posts/delete',
					data: {slug: x.attrs.slug}
				})
				.then(res => {
					
					m.render(deleteFormNotice,
						m('div', {class: 'notif'}, res.message)
					)
					if (!res.error) {
						loadPost()
					}
					
				})
			}}, 'Delete'),
			m('div', {id: 'deleteFormNotice'})
		]
	}
}

let formDelete = (id) => {

	m.render(deleteForm, m('div', {class:'spinner center'}))	

	m.request({
		method: 'GET',
		url: '/api.posts/'+id
	})
	.then(res => {

		m.render(deleteForm, m(deleteFormComponent, {
			slug: res.slug,
			title: res.title
		}))

	})
}


formCreate.onsubmit = (event) => {

	event.preventDefault()
	m.render(createResult, m('div', {class:'spinner center'}))

	let categoryValue = []; 
	let inputElements = document.querySelectorAll('#category_create .category:checked');
	for(i=0; i<inputElements.length; ++i){
		categoryValue.push(inputElements[i].value)
	}

	m.request({
		method: 'POST',
		url: '/api.posts/create',
		data: {
			title: create_title.value,
			content: create_content.value,
			slug: create_slug.value,
			category: categoryValue.join(', '),
			status: create_status.checked ? 1: 0,
		}
	})
	.then(res => {
		m.render(createResult, m('div', {class:'notif'}, res.message))
		if (!res.error) {
			loadPost()
		}
	})

}
</script>